{# @var view \Views\Banner #}
<!DOCTYPE html>
<html amp lang="en-US">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.ampproject.org/v0.js" async></script>
    <script src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async custom-element="amp-carousel" ></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style type="text/css" amp-custom>
        @font-face {
            font-family: TriviaSerif;
            src: url("https://storage.googleapis.com/layout-assets/co-fast/fonts/333615_0_0.0831edc.woff") format("woff")
        }

        .carousel .carousel-item a {
            text-decoration: none
        }

        .carousel .carousel-item {
            line-height: 0;
            height: 250px;
        }

        .carousel .carousel-item,
        .carousel .img-holder {
            overflow: hidden;
            margin: 0;
            width: 300px;
        }

        .carousel .img-holder {
            max-height: 70%;
            position: relative;
            display: inline-block;
        }

        .carousel .content-holder {
            position: relative;
            white-space: normal;
            padding: 15px 15px 15px 0;
            width: 100%;
            background: #fff;
            text-align: center;
        }

        .carousel .content-holder h3 {
            margin: 0;
            height: 100%;
            overflow: hidden;
            position: relative;
            font-family: TriviaSerif, Georgia, Times, serif;
            line-height: 22px;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 15px;
            color: #000;
        }
    </style>
</head>
<body>
<div class="carousel">
    {% if view.quizs %}
        {% set quiz = view.quizs|first %}
        <amp-carousel width="300" height="250" layout="fixed" type="carousel">
            <div class="carousel-item">
                <a target="_blank" href="{{ quiz.url }}">
                <div class="img-holder">
                    <amp-img src="{{ quiz.image }}" width="{{ quiz.imageWidth }}" height="{{ quiz.imageHeight }}" layout="responsive"></amp-img>
                </div>
                <div class="content-holder">
                    <h3>{{ quiz.title }}</h3>
                </div>
                </a>
            </div>
        </amp-carousel>
    {% endif %}
</div>
</body>
</html>
