<!DOCTYPE html>
<html lang="en-US">
<head>
 <meta charset="UTF-8">
 <title>{{title}}</title>
 <meta name="description" content=""/>
 <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
 <meta name="title" content="{{title}}">
 <meta name="og:image" content="{{image}}" property="og:image"> 
 <script src="https://cdn.ampproject.org/v0.js" async></script>
 <script src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js" async custom-element="amp-social-share"></script>
 <script src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async custom-element="amp-sidebar"></script>
 <script src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async custom-element="amp-lightbox"></script>
 <script src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async custom-element="amp-carousel" ></script>
 <script async custom-element="amp-playbuzz" src="https://cdn.ampproject.org/v0/amp-playbuzz-0.1.js"></script>


 <script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-17514583-34']);
 _gaq.push(['_setDomainName','.allwomenstalk.com'],['_trackPageview']);
 (function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
 </script>
 <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
 <script>
 var googletag = googletag || {};
 googletag.cmd = googletag.cmd || [];
 </script>
 <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
 <style type="text/css" amp-custom>
 @font-face { font-family: Sofia; src: url("https://storage.googleapis.com/layout-assets/co/fonts/d493595c-97d2-4edc-bc9a-c09ad13b4913.4418504.woff") format("woff") } @font-face { font-family: Sofia; src: url("https://storage.googleapis.com/layout-assets/co/fonts/ec41d681-0313-4b04-88c0-820aebb51f4e.89dd566.woff") format("woff"); font-weight: 700 } @font-face { font-family: TriviaSerif; src: url("https://storage.googleapis.com/layout-assets/co/fonts/333615_0_0.0831edc.woff") format("woff") } @font-face { font-family: TriviaSerif; src: url("https://storage.googleapis.com/layout-assets/co/fonts/333615_2_0.a333fbc.woff") format("woff"); font-weight: 700 } .hide { display: none; } .nav-bar, .content-header, .content-info-inner, .standard-body-content, .transporter, .seo-tags-container, .footer { padding-left: .938rem; padding-right: .938rem } @media (min-width: 40.625rem) { .nav-bar, .content-header, .content-info-inner, .standard-body-content, .transporter, .seo-tags-container, .footer { padding-left: 2.5rem; padding-right: 2.5rem } } .aspect-ratio-original { position: relative } .aspect-ratio-original:before { content: ''; display: block; width: 100% } .aspect-ratio-original > img, .aspect-ratio-original picture, .aspect-ratio-original iframe, .aspect-ratio-original video { position: absolute; top: 0; left: 0; width: 100%; height: 100% } .sidepanel-menu { list-style-type: none } .link { text-decoration: none; cursor: pointer } .link-button { outline: none; border: none } .icon { line-height: inherit } body { position: relative; font-kerning: normal; margin: 0; } img { max-width: 100% } ul { list-style: disc inside; } ol { list-style: decimal outside; } strong, b { font-weight: 600 } em, i, q { font-style: italic } html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100% } * { box-sizing: border-box } article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block } audio, canvas, progress, video { display: inline-block; vertical-align: baseline } audio:not([controls]) { display: none; height: 0 } [hidden] { display: none } a { background-color: transparent } a:active, a:hover { outline: 0 } b, strong { font-weight: 700 } h1 { font-size: 2em; margin: 0 } mark { background: #ff0; color: #000 } small { font-size: 80% } img { border: 0 } svg:not(:root) { overflow: hidden } button { color: inherit; font: inherit; margin: 0; overflow: visible; text-transform: none; -webkit-appearance: button; cursor: pointer } button::-moz-focus-inner { border: 0; padding: 0 } .standard-body-content { font-family: Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.2; color: #000 } .nav-button, .sidepanel-menu a, .sidepanel-close-button, .search-overlay-close-button, .transporter-simple-item .item-title, .seo-tag .seo-link, .footer-menu a, a.btn-link[class] { transition: color .3s ease-in-out; text-decoration: none; cursor: pointer; } @media only screen and (min-width: 61.25rem) { .nav-button:hover, .sidepanel-menu a:hover, .sidepanel-close-button:hover, .search-overlay-close-button:hover, .standard-body-content .body-blockquote a:hover, .transporter-simple-item .item-title:hover, .seo-tag .seo-link:hover, .footer-menu a:hover { color: #fff } } .standard-body-content { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 1.125rem; line-height: 1.8; color: #000 } .content-hed { font-family: TriviaSerif, Georgia, Times, serif; font-size: 1.9375rem; line-height: 1.2; color: #000; letter-spacing: .05rem; font-weight: 400 } @media only screen and (min-width: 30rem) { .content-hed { font-size: 2.1875rem; line-height: 1.2 } } @media only screen and (min-width: 40.625rem) { .content-hed { font-size: 2.5rem; line-height: 1.1 } } @media only screen and (min-width: 61.25rem) { .content-hed { font-size: 3.125rem; line-height: 1.1 } } .nav-button, .sidepanel-menu a, .sidepanel-close-button, .search-overlay-close-button, .transporter-simple-item .item-title, .seo-tag .seo-link, .footer-menu a, a.btn-link[class] { text-decoration: none; transition: color .3s ease-in-out } @media only screen and (min-width: 61.25rem) { .nav-button:hover, .sidepanel-close-button:hover, .search-overlay-close-button:hover, .transporter-simple-item .item-title:hover, .seo-tag .seo-link:hover, .footer-menu a:hover, a.btn-link:hover[class] { color: #e670b1 } .sidepanel-menu a:hover { color: #000 } } .standard-body-content p a, .content-dek a, .byline a.byline-name, .standard-body-content a { transition: color .3s ease-in-out; color: #000; text-decoration: underline } @media only screen and (min-width: 61.25rem) { .content-dek a:hover, .byline a.byline-name:hover, .standard-body-content a:hover { color: #676767 } } .content-info-date { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #7b7b7b } .byline { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #000; font-style: italic; display: block; text-transform: lowercase } .byline-name { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #7b7b7b; padding-left: .1875rem; font-style: normal; letter-spacing: .08rem; text-transform: uppercase } .content-info-social-button-group, .ledge-image-social-button-group, .embed-image-social-button-group { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-align-items: center; -ms-flex-align: center; align-items: center } .content-info-social-button-group .social-button, .ledge-image-social-button-group .social-button, .embed-image-social-button-group .social-button { -webkit-flex-grow: 1; flex-grow: 1 } .content-info-social-button-group { -webkit-flex-grow: 1; flex-grow: 1 } .content-info-social-button { margin-right: .3125rem } .content-info-social-button:last-child { margin-right: 0 } .ledge-image-social-button-group { position: absolute; bottom: 0; right: 0 } @font-face { font-family: IconFont; src: url("https://assets.hearstapps.com/sites/cosmopolitan/assets/fonts/IconFont.d7fc45ad085d592532252ca644bcded0.woff2") format("woff2"), url("https://assets.hearstapps.com/sites/cosmopolitan/assets/fonts/IconFont.d7fc45ad085d592532252ca644bcded0.woff") format("woff") } .icon { font-family: IconFont, serif; display: inline-block; vertical-align: middle; line-height: 1; font-weight: 400; font-style: normal; speak: none; text-decoration: inherit; text-transform: none; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale } .icon-menu:before { content: "\f108" } .icon-search:before { content: "\f10a" } .sidepanel-item.has-children > a:before { content: "\f10f" } .icon-close01:before { content: "\f11b" } .icon-facebook:before { content: "\f120" } .icon-googleplus:before { content: "\f122" } .icon-instagram:before { content: "\f124" } .icon-pinterest:before { content: "\f12d" } .icon-twitter:before { content: "\f138" } .icon-youtube:before { content: "\f139" } .nav-button { color: #000 } .sidepanel-menu a { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: 1.25rem; line-height: 1; font-weight: 700; color: #fff } @media only screen and (min-width: 40.625rem) { .content-header, .content-info-inner, .standard-body-content, .transporter, .seo-tags-container, .footer { width: 40.625rem; margin: 0 auto } } .nav { background-color: #fff; margin-bottom: 0; height: 3.375rem; } .nav-bar { padding-left: 1.5rem; padding-right: 1.5rem; } .nav-button { padding-right: .625rem; vertical-align: middle } .nav-button .icon { font-size: 1.5rem; margin-bottom: -4px; } .nav-logo { position: relative; top: .625rem } .sidepanel { transform: translateX(-20rem); background-color: #e9328c; transition: transform .3s ease-in-out; position: fixed; top: 0; width: 20rem; height: 100%; overflow-y: scroll; } .sidepanel.active { transform: translateX(0); } .sidepanel-menu { margin: 0; padding: 0 1.25rem; } .sidepanel-menu a { text-transform: uppercase; margin: .9375rem 1.25rem .9375rem 0; display: inline-block } .search-overlay-close-button, .sidepanel-close-button { font-size: 1.25rem; color: #fff; cursor: pointer; display: block; text-align: right; margin: 1.25rem 1.125rem 0 } .search-overlay { overflow: hidden; background-color: rgba(0, 0, 0, .9); width: 100%; height: 100%; z-index: 5999997; overflow: inherit; opacity: 1; } .search-overlay .search-overlay-inner { display: block; } .search-overlay-inner { padding: 4.375rem 1.875rem 1.875rem; } .search-overlay-inner .search-overlay-close-button { text-decoration: none; transition: color .3s ease-in-out; cursor: pointer; float: right; color: #7b7b7b; } .search-overlay-form { margin: 0 auto; clear: both; } .search-overlay-form .search-input { background: transparent; border: 0; outline: none; padding: 0; width: 100%; box-sizing: content-box; } .search-overlay-form .search-input, .search-overlay-form .search-input::placeholder { font-family: TriviaSerif, Georgia, Times, serif; letter-spacing: -.03rem; font-weight: 400; font-size: 3.5rem; color: #f8f8f8; text-transform: lowercase; line-height: 4.6875rem; } .search-overlay-form .search-label { display: inline-block; width: 100%; font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .875rem; line-height: 1.4; color: #7b7b7b; border-top: .0625rem solid #fff; padding-top: .5rem; } .content-header { margin-bottom: 1.25rem } .content-dek p { margin: 0; padding: 0 } .content-info { margin-bottom: 1.25rem } .content-info-metadata { margin-bottom: .625rem } .content-info-social-button-group { -webkit-flex-grow: 1; flex-grow: 1 } .content-info-social-button { margin-right: .3125rem } .content-info-social-button:last-child { margin-right: 0 } .byline { padding-right: .625rem; display: inline } .content-ledge-image { margin-bottom: .625rem; margin-left:5px; position: relative } .ledge-image-social-button-group { position: absolute; bottom: 0; right: 0 } .content-dek { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: 1.125rem; line-height: 1.4; color: #7b7b7b; letter-spacing: -.03rem; padding-top: 1.25rem; font-weight: 400 } @media only screen and (min-width: 40.625rem) { .content-dek { font-size: 1.25rem; line-height: 1.4 } } @media only screen and (min-width: 40.625rem) { .content-dek { padding-top: .9375rem } } .byline { margin-right: .4375rem } .content-info-date { color: #9f9f9f; text-transform: uppercase; padding-left: .9375rem } .standard-body-content { padding-bottom: 1.875rem } .standard-body-content .body-text { margin: 0 0 1.25rem } .standard-body-content .embed { margin-bottom: 1.25rem } .standard-body-content .body-h3 { margin-bottom: .625rem } .standard-body-content .body-h3 { font-family: TriviaSerif, Georgia, Times, serif; font-size: 1.5rem; line-height: 1.3; font-weight: 400; text-transform: uppercase; padding-bottom: .3125rem; letter-spacing: .15rem } @media only screen and (min-width: 40.625rem) { .standard-body-content .body-h3 { font-size: 1.625rem; line-height: 1.3 } } @media only screen and (min-width: 61.25rem) { .standard-body-content .body-h3 { font-size: 2rem; line-height: 1.2 } } .embed-image { margin-bottom: .9375rem } .embed-image img { position: relative; display: block; } .embed-image .embed-inner { position: relative } .embed-image .embed-inner .embed-image-wrap { position: relative } .embed-image-social-button-group { position: absolute; bottom: 0; right: 0 } amp-instagram { box-sizing: unset } .transporter-header { text-align: center; padding: 1.25rem 0; } .transporter-label { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #000; padding: 0 0 .3125rem; text-transform: uppercase; letter-spacing: .05rem } .transporter-simple-item { margin-bottom: 1.875rem } .transporter-simple-item .item-title { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .875rem; line-height: 1.5; color: #000; text-transform: uppercase; text-align: center; letter-spacing: .05rem; margin: .625rem .3125rem auto } .transporter-simple-item .item-title { margin-top: .625rem; display: block } .seo-tags-container { text-align: center } .seo-tag-list { list-style: none; padding: 0 } .seo-tag { display: inline-block; margin: 0 .3125rem .9375rem 0 } .seo-tag .seo-link { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .625rem; line-height: 1.5; display: block; border: .0625rem solid #000; color: #7b7b7b; text-transform: uppercase; padding: .3125rem .625rem } .amp-footer-outer { background-color: #fff; padding: 1.25rem 0 } .footer-menu { padding: 0 } .footer-menu-item { display: inline; padding: 0 .3125rem .625rem 0 } .footer-menu a { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #000 } .footer-copyright { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #7b7b7b } a[class].btn-link { display: inline-block; text-decoration: none } a.btn-link[class] { font-family: Sofia, Helvetica, Arial, sans-serif; font-size: .75rem; text-decoration: none; background-color: #fff; border: .0625rem solid #000; color: #000; line-height: 1; font-weight: 700; text-transform: uppercase; padding: .5rem .625rem .625rem; transition: color .3s ease-in-out, border .3s ease-in-out; margin-bottom: .625rem } @media only screen and (min-width: 61.25rem) { a.btn-link[class] { -webkit-transform: translateZ(0); transform: translateZ(0); transition: opacity .3s ease-in-out, transform .3s ease-in-out } a.btn-link:hover[class] { opacity: .8; } } .footer a { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: .75rem; line-height: 1.5; color: #000; } .footer-logo a { color: #EC008C; text-transform: uppercase; font-weight: bold; text-decoration: none; } .footer-logo { margin-bottom: 1.25rem; } .footer-social-menu::after { content: ' '; display: table; clear: both } .footer-social-menu-item { margin-right: 1.25rem; float: left; transition: color .3s ease-in-out; } .footer-social-menu-item .social-button-link { text-decoration: none; } .footer-social-menu-item .icon { font-size: 1.063rem; } .nav .navbar-left { float: left; } .nav .navbar-right { float: right; } .nav .search { padding-top: 12px; padding-right: 12px; } @media (max-width: 600px) { .social-counter, .nav .search { display: none; } } .nav .nav-logo { display: inline-block; white-space: nowrap; padding-left: 12px; line-height: 23px; vertical-align: bottom; } .nav .nav-logo amp-img { float: left; margin-right: 12px; border-radius: 5px; } .nav .nav-logo b { margin-top: 7px; display: inline-block; font-size: 20px; color: #444; } .nav .nav-topright { padding: 0 25px 0 10px; font-size: 22px; position: absolute; right: 0; } .body-h3 { text-transform: uppercase; text-align: center; } .body-h3 .head-number { line-height: 1em; font-size: 5em; display: block; } .content-info-date { margin-right: 10px; } .read-next-page, .read-full-article { font-weight: bold; } .related .carousel { overflow: hidden; padding-top: 10px; text-align: center; } .related .carousel .carousel-item, .carousel .img-holder { width: 205px; float: none; margin: 0 } .related .carousel .carousel-item { margin-right: 20px; margin-bottom: 20px; overflow: hidden; line-height: 0 } .related .carousel .carousel-item:last-child { margin-right: 0 } .related .img-holder { position: relative; background: center center no-repeat #eee; display: inline-block; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover } .related .img-holder:before { display: block; content: " "; width: 100%; padding-top: 70% } .related .carousel .content-holder { position: relative; bottom: auto; right: auto; top: auto; left: auto; border-top-width: 0; float: left; white-space: normal; padding: 15px 15px 15px 0; height: 100px; width: 100%; background: #fff; border: none; } .related .carousel .content-holder .simple-item-index { float: left; height: 100%; font-family: Sofia, Helvetica, Arial, Sans-serif, serif; font-size: 2.625rem; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: .05rem; -webkit-text-stroke-color: #000; font-weight: 700; line-height: .7; padding-right: .625rem; } .related .carousel .content-holder .simple-item-index + h3 { text-align: left; } .related .carousel .content-holder h3 { margin: 0; height: 64px; overflow: hidden; position: relative; } .related .carousel .content-holder a { line-height: 22px; font-family: TriviaSerif, Georgia, Times, serif; text-transform: uppercase; font-weight: 100; font-size: 15px; color: #000; text-decoration: none } .transporter.posts-carousel { width: auto; } .vertical-ad { display: none; } .leaderboard-ad { background-color: #f8f8f8; margin-top: 1.25rem; margin-bottom: 1.25rem; padding-top: .625rem; padding-bottom: .625rem; text-align: center; clear: both } .breaker-ad { background-color: #f8f8f8; margin-top: 1.25rem; margin-bottom: 1.25rem; padding-top: .625rem; padding-bottom: .625rem; text-align: center; clear: both } 
 .related .element-5ba95849841bf703673e4ef1 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/jw/f4/m8yvxq8k5ba7f2cf18817484470523.jpg);}
 .related .element-52c6ecb07d124b5bdaa77a06 .img-holder {background-image: url(https://img.allw.mn/love/thumbs/200x200/366/461.jpg);}
 .related .element-55ad5a488ebea80ad96247ac .img-holder {background-image: url(https://img.allw.mn/love/thumbs/200x200/xq/x5/yr22tg5p5597007bf048c709753426.jpg);}
 .related .element-5bb41c89841bf75c4866ec41 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/hg/rk/cbjepcuz5bb28408b432b552078549.jpg);}
 .related .element-50719313e0d71b0e3b4c12ec .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/b0/bo/fg2k7miv5b6b9acd09f48495499131.jpg);}
 .related .element-5bb65d19841bf76618369841 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/ua/vf/zd2mvpxl5bb5232f3fcf9736169845.jpg);}
 .related .element-5ba911f9841bf772f43ce4d1 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/eq/wj/hhuhhr6r5ba7f6df11cc2613079159.jpg);}
 .related .element-5bb6dba9841bf70507279611 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/bl/l9/jt4dbk9y5bb51f7b3fa32583229218.jpg);}
 .related .element-5236c00d37cf9c55c94ad4f7 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/hm/ws/ln5vk1ls5b737e71a26dc685012338.jpg);}
 .related .element-52f790e9a46845ecf50a2d35 .img-holder {background-image: url(https://img.allw.mn/diet/thumbs/200x200/115/533.jpg);}
 .related .element-55fc68908ebea80ad971cd3d .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/u5/cj/oif87y455805d74b8b229984175902.jpg);}
 .related .element-55ed672f8ebea80ad96f09b9 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/pb/ij/zx4wtdbh57e43b56c13ef016852020.jpg);}
 .related .element-55f6ba448ebea80ad970d1f2 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/a9/x2/iv1ukka157fa171ee9494775054845.jpg);}
 .related .element-55f06a408ebea80ad96f9a50 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/ki/wo/q1li50f257eed617a11c0965106136.jpg);}
 .related .element-55f04a9c8ebea80ad96f9402 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/mp/h8/nny3trft57ed5154648a0734106802.jpg);}
 .related .element-55fab9508ebea80ad9718639 .img-holder {background-image: url(https://img.allw.mn/thumbs/200x200/qa/o7/d3dda9xb5803e17b4561a603505315.jpg);}
 .posts-carousel { /*display: none;*/ margin-top: 0; } .image-credit { font-family: Sofia, Helvetica, Arial, Sans-serif, serif; font-size: .625rem; line-height: 1.5; color: #676767; margin-top: .3125rem; text-transform: uppercase; } .image-credit a { text-decoration: none; transition: color .3s ease-in-out; color: #9f9f9f; } .content-ledge-image .image-credit { position: absolute; bottom: 0; background-color: rgba(255, 255, 255, .6); padding: .3125rem .9375rem; } .content-ledge-image .image-credit a { color: #676767; } @media (min-width: 800px) { .posts-carousel { display: block; } .content-header, .content-info, .content-info-inner { width: 100% !important; } .content-hed { font-size: 4rem !important; max-width: 900px; padding: 4% 0; } .content-container { margin-right: 340px; width: auto !important; } .standard-body-content { width: 100% !important; max-width: 500px; } .footer-ad, .header-ad { text-align: center; } .breaker-ad { background: none !important; } .vertical-ad { position: absolute; right: 20px; background-color: transparent; display: block; } .leaderboard-ad { text-align: center; background: #eee; width: 100%; margin-bottom: 20px; } .footer { width: 100% !important; } } 
 </style>
</head>
 <body>
 <div class="nav">
 <div class="nav-bar navbar-left">
 <a class="nav-button" on="tap:sidebar.toggle"><span class="icon icon-menu"></span></a>
 <a class="nav-logo" href="https://allwomenstalk.com">
 <amp-img width="38" height="38" src="https://storage.googleapis.com/layout-assets/co/images/Icon60.png" alt=""></amp-img>
 <b>allwomenstalk</b>
 </a>
 </div>
 <div class="nav-bar navbar-right search">
 <span class="nav-button nav-search-button link" title="Search" on="tap:search-overlay">
 <span class="icon icon-search"></span>
 </span>
 </div>
</div>
 <div class="site-content">

 <div id="div-gpt-ad-1518186824721-1" class="leaderboard-ad">
 <script>
 googletag.cmd.push(function() {
 googletag.defineSlot('/5445743/Allwomenstalk-L-CO', [[728, 90], [970, 90], [970, 250]], 'div-gpt-ad-1518186824721-1')
 .setTargeting('postID', '5bbbe969841bf72fbf343811')
 .setTargeting('category', 'diet')
 .addService(googletag.pubads());
 googletag.pubads().enableSingleRequest();
 googletag.enableServices();
 googletag.display('div-gpt-ad-1518186824721-1')
 })
 </script>
 </div>
 <header class="content-header">
 <div class="content-header-inner">
 <h1 class="content-hed">{{title}}</h1>
 </div>
 </header>
 <div class="content-info">

 <div class="content-info-social-button-group">
 <amp-social-share type="facebook" width="45" height="40"
 data-param-app_id="162410160459486"
 class="social-button social-button-facebook content-info-social-button social-share-button"></amp-social-share>
 <amp-social-share type="twitter" width="45" height="40"
 class="social-button social-button-twitter content-info-social-button social-share-button"></amp-social-share>
 <amp-social-share type="email" width="45" height="40"
 class="social-button social-button-email content-info-social-button social-share-button"></amp-social-share>
 </div>
 </div>
 <div class="content-container">
 <div id="div-gpt-ad-1518186824721-2" class="vertical-ad">
 <script>
 googletag.cmd.push(function() {
 googletag.defineSlot('/5445743/Allwomenstalk-L-CO', [[300, 600]], 'div-gpt-ad-1518186824721-2')
 .setTargeting('postID', '5bbbe969841bf72fbf343811')
 .setTargeting('category', 'diet')
 .addService(googletag.pubads());
 googletag.pubads().enableSingleRequest();
 googletag.enableServices();
 googletag.display('div-gpt-ad-1518186824721-2')
 })
 </script>
 </div>
 <div class="content-ledge-image">
    <amp-playbuzz
            src="{{quizz-src}}"
            height="700"
            data-item-info="false"
            data-comments="false"
            data-share-buttons="true"
    ></amp-playbuzz>
   <div id="player" style="max-width:640px; margin:5px auto;">
      <script>
          (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//mcd-sdk.playbuzz.com/embed/sdk.js?embedId=b43190d4-7e66-422d-b10d-fcc058378e34";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'mcd-sdk-jssdk_Kaushan_Media_allwomenstalk'));
      </script>
      <pb-mcd embed-id="b43190d4-7e66-422d-b10d-fcc058378e34"></pb-mcd>
   </div>  
 </div>

 <div class="standard-body-content">
   
 </div>


 </div>

 <div class="content-info-social-button-group">
 <amp-social-share type="facebook" width="45" height="40"
 data-param-app_id="162410160459486"
 class="social-button content-info-social-button"></amp-social-share>
 <amp-social-share type="twitter" width="45" height="40"
 class="social-button content-info-social-button"></amp-social-share>
 <amp-social-share type="email" width="45" height="40"
 class="social-button content-info-social-button"></amp-social-share>
 </div>
 
 <div id="div-gpt-ad-1518186824721-12" class="leaderboard-ad">
 <script>
 googletag.cmd.push(function() {
 googletag.defineSlot('/5445743/Allwomenstalk-L-CO', [[728, 90], [970, 90], [970, 250]], 'div-gpt-ad-1518186824721-12')
 .setTargeting('postID', '5bbbe969841bf72fbf343811')
 .setTargeting('category', 'diet')
 .addService(googletag.pubads());
 googletag.pubads().enableSingleRequest();
 googletag.enableServices();
 googletag.display('div-gpt-ad-1518186824721-12')
 })
 </script>
 </div>
 <div class="transporter">
 <div class="transporter-header">
 <span class="transporter-label">More From</span>
 </div>
 </div>
 <div class="posts-carousel">
 <div class="related">
 <div class="carousel">
 <amp-carousel type="carousel" height="260">
 <div class="element-5ba95849841bf703673e4ef1 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/healthy-food-choices-for-the-mediterranean-diet?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/healthy-food-choices-for-the-mediterranean-diet?utm_campaign=related">
 Healthy 💪 Food Choices 🍒🥗 for the Mediterranean Diet 🍴 ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-52c6ecb07d124b5bdaa77a06 carousel-item">
 <a class="img-holder" href="https://love.allwomenstalk.com/most-common-mistakes-in-relationships-that-you-can-avoid?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://love.allwomenstalk.com/most-common-mistakes-in-relationships-that-you-can-avoid?utm_campaign=related">
 7 Most Common Mistakes in Relationships That You Can Avoid ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-55ad5a488ebea80ad96247ac carousel-item">
 <a class="img-holder" href="https://love.allwomenstalk.com/what-do-you-do-when-your-crush-is-taken?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://love.allwomenstalk.com/what-do-you-do-when-your-crush-is-taken?utm_campaign=related">
 What do You do when Your Crush is Taken?
 </a>
 </h3>
 </div>
 </div>
 <div class="element-5bb41c89841bf75c4866ec41 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/easy-tips-to-improve-your-meals-and-eat-healthier?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/easy-tips-to-improve-your-meals-and-eat-healthier?utm_campaign=related">
 8 Easy 👌 Tips to Improve 👍 Your Meals and Eat 🍽 Healthier 💪 ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-50719313e0d71b0e3b4c12ec carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/little-diet-mistakes-that-can-make-you-fat?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/little-diet-mistakes-that-can-make-you-fat?utm_campaign=related">
 8 Little Diet Mistakes That Can Make You Fat ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-5bb65d19841bf76618369841 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/rules-to-keep-your-metabolism-revved-all-day?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/rules-to-keep-your-metabolism-revved-all-day?utm_campaign=related">
 11 Rules 📜 to Keep Your Metabolism ⚖️ Revved 🔋 All Day ☀️🌙 ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-5ba911f9841bf772f43ce4d1 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/healthy-alternatives-to-soda?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/healthy-alternatives-to-soda?utm_campaign=related">
 3 Healthy 👍 Alternatives to Soda 🥤 ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-5bb6dba9841bf70507279611 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/easy-changes-to-a-healthier-diet-you-wont-even-notice?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/easy-changes-to-a-healthier-diet-you-wont-even-notice?utm_campaign=related">
 Easy ✌️ Changes 🔄 to a Healthier 💪 Diet You Won&#039;t 🚫 Even Notice ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-5236c00d37cf9c55c94ad4f7 carousel-item">
 <a class="img-holder" href="https://love.allwomenstalk.com/relationship-mistakes-to-avoid-so-you-can-lead-a-happy-life?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://love.allwomenstalk.com/relationship-mistakes-to-avoid-so-you-can-lead-a-happy-life?utm_campaign=related">
 7 Relationship Mistakes to Avoid so You Can Lead a Happy Life ...
 </a>
 </h3>
 </div>
 </div>
 <div class="element-52f790e9a46845ecf50a2d35 carousel-item">
 <a class="img-holder" href="https://diet.allwomenstalk.com/things-that-make-a-healthy-diet?utm_campaign=related"></a>
 <div class="content-holder">
 <h3>
 <a href="https://diet.allwomenstalk.com/things-that-make-a-healthy-diet?utm_campaign=related">
 7 Things That Make a Healthy Diet ...
 </a>
 </h3>
 </div>
 </div>
 </amp-carousel>
 </div>
 </div>
 </div>
 <div id="div-gpt-ad-1518186824721-13" class="leaderboard-ad">
 <script>
 googletag.cmd.push(function() {
 googletag.defineSlot('/5445743/Allwomenstalk-L-CO', [[728, 90], [970, 90], [970, 250]], 'div-gpt-ad-1518186824721-13')
 .setTargeting('postID', '5bbbe969841bf72fbf343811')
 .setTargeting('category', 'diet')
 .addService(googletag.pubads());
 googletag.pubads().enableSingleRequest();
 googletag.enableServices();
 googletag.display('div-gpt-ad-1518186824721-13')
 })
 </script>
 </div>
</div>
 <amp-sidebar class="sidepanel" id="sidebar" layout="nodisplay" side="left">
 <span class="sidepanel-close-button" on="tap:sidebar.close" role="button" tabindex="0">
 <span class="icon icon-close01"></span>
 </span>
 <ul class="sidepanel-menu">
 <li class="sidepanel-item"><a href="https://apps.allwomenstalk.com">Apps</a></li>
 <li class="sidepanel-item"><a href="https://bags.allwomenstalk.com">Bags</a></li>
 <li class="sidepanel-item"><a href="https://beauty.allwomenstalk.com">Beauty</a></li>
 <li class="sidepanel-item"><a href="https://books.allwomenstalk.com">Books</a></li>
 <li class="sidepanel-item"><a href="https://celebs.allwomenstalk.com">Celebs</a></li>
 <li class="sidepanel-item"><a href="https://cooking.allwomenstalk.com">Cooking</a></li>
 <li class="sidepanel-item"><a href="https://diy.allwomenstalk.com">DIY</a></li>
 <li class="sidepanel-item"><a href="https://diet.allwomenstalk.com">Diet</a></li>
 <li class="sidepanel-item"><a href="https://fashion.allwomenstalk.com">Fashion</a></li>
 <li class="sidepanel-item"><a href="https://fitness.allwomenstalk.com">Fitness</a></li>
 <li class="sidepanel-item"><a href="https://food.allwomenstalk.com">Food</a></li>
 <li class="sidepanel-item"><a href="https://funny.allwomenstalk.com">Funny</a></li>
 <li class="sidepanel-item"><a href="https://gardening.allwomenstalk.com">Gardening</a></li>
 <li class="sidepanel-item"><a href="https://hair.allwomenstalk.com">Hair</a></li>
 <li class="sidepanel-item"><a href="https://health.allwomenstalk.com">Health</a></li>
 <li class="sidepanel-item"><a href="https://inspiration.allwomenstalk.com">Inspiration</a></li>
 <li class="sidepanel-item"><a href="https://jewelry.allwomenstalk.com">Jewelry</a></li>
 <li class="sidepanel-item"><a href="https://lifestyle.allwomenstalk.com">Lifestyle</a></li>
 <li class="sidepanel-item"><a href="https://love.allwomenstalk.com">Love</a></li>
 <li class="sidepanel-item"><a href="https://makeup.allwomenstalk.com">Makeup</a></li>
 <li class="sidepanel-item"><a href="https://money.allwomenstalk.com">Money</a></li>
 <li class="sidepanel-item"><a href="https://movies.allwomenstalk.com">Movies</a></li>
 <li class="sidepanel-item"><a href="https://music.allwomenstalk.com">Music</a></li>
 <li class="sidepanel-item"><a href="https://nails.allwomenstalk.com">Nails</a></li>
 <li class="sidepanel-item"><a href="https://parenting.allwomenstalk.com">Parenting</a></li>
 <li class="sidepanel-item"><a href="https://perfumes.allwomenstalk.com">Perfumes</a></li>
 <li class="sidepanel-item"><a href="https://running.allwomenstalk.com">Running</a></li>
 <li class="sidepanel-item"><a href="https://shoes.allwomenstalk.com">Shoes</a></li>
 <li class="sidepanel-item"><a href="https://skincare.allwomenstalk.com">Skincare</a></li>
 <li class="sidepanel-item"><a href="https://streetstyle.allwomenstalk.com">Streetstyle</a></li>
 <li class="sidepanel-item"><a href="https://teen.allwomenstalk.com">Teen</a></li>
 <li class="sidepanel-item"><a href="https://travel.allwomenstalk.com">Travel</a></li>
 <li class="sidepanel-item"><a href="https://wedding.allwomenstalk.com">Wedding</a></li>
 <li class="sidepanel-item"><a href="https://weightloss.allwomenstalk.com">Weightloss</a></li>
 </ul>
</amp-sidebar>
 <amp-lightbox id="search-overlay" layout="nodisplay">
 <div class="search-overlay" >
 <div class="search-overlay-inner">
 <span class="search-overlay-close-button" on="tap:search-overlay.close">
 <span class="icon icon-close01"></span>
 </span>
 <form class="search-form search-overlay-form" action="https://allwomenstalk.com/search/">
 <input type="search" class="search-input" name="q" value="" placeholder="search" autofocus autocomplete="off">
 <label class="search-label" for="search-input">Type keyword(s) to search</label>
 </form>
 </div>
 </div>
</amp-lightbox>
 <div class="amp-footer-outer">
 <footer class="footer">
 <div class="footer-logo"><a href="https://allwomenstalk.com">allwomenstalk</a></div>
 <div class="footer-social-menu">
 <div class="footer-social-menu-item" title="Share on Facebook">
 <a class="social-button-link" href="https://www.facebook.com/Allwomenstalk" target="_blank">
 <span class="icon icon-facebook"></span>
 </a>
 </div>
 <div class="footer-social-menu-item" title="Share on Twitter">
 <a class="social-button-link" href="https://twitter.com/allwomenstalk" target="_blank">
 <span class="icon icon-twitter"></span>
 </a>
 </div>
 <div class="footer-social-menu-item" title="Share on Google Plus">
 <a class="social-button-link" href="https://plus.google.com/+Allwomenstalk" target="_blank">
 <span class="icon icon-googleplus"></span>
 </a>
 </div>
 <div class="footer-social-menu-item" title="Share on Pinterest">
 <a class="social-button-link" href="https://www.pinterest.com/allwomenstalk/" target="_blank">
 <span class="icon icon-pinterest"></span>
 </a>
 </div>
 <div class="footer-social-menu-item" title="Share on Instagram">
 <a class="social-button-link" href="https://www.instagram.com/allwomenstalk/" target="_blank">
 <span class="icon icon-instagram"></span>
 </a>
 </div>
 <div class="footer-social-menu-item" title="Share on YouTube">
 <a class="social-button-link" href="https://www.youtube.com/allwomenstalk" target="_blank">
 <span class="icon icon-youtube"></span>
 </a>
 </div>
 </div>
 <div class="footer-legal">
 <ul class="footer-menu">
 <li class="footer-menu-item">
 <a href="//ca1b5318dc7659a6ac9a-906045d31d1743aa9db36197af8c47d9.r61.cf2.rackcdn.com/policy.html">
 Privacy Policy
 </a>
 </li>
 <li class="footer-menu-item">
 <a href="//ca1b5318dc7659a6ac9a-906045d31d1743aa9db36197af8c47d9.r61.cf2.rackcdn.com/tos.html">
 Terms of Use
 </a>
 </li>
 <li class="footer-menu-item">
 <a href="https://allwomenstalk.com/archive">Site Map</a>
 </li>
 </ul>
 <small class="footer-copyright">&copy;2018 Allwomenstalk.com, Inc. All Rights Reserved.</small>
 </div>
 </footer>
</div>

 <!-- ad-teads -->
 <script type="text/javascript">
 window._ttf = window._ttf || [];
 _ttf.push({
 pid: 41645, lang: "en", slot: '#ad-teads', format: "inread", minSlot: 3, components: {skip: {delay: 0}}
 });
 (function (d) {
 var js, s = d.getElementsByTagName('script')[0];
 js = d.createElement('script');
 js.async = true;
 js.src = '//cdn.teads.tv/media/format.js';
 s.parentNode.insertBefore(js, s);
 })(window.document);
 </script>
 <script>
 (function () {
 function ajaxRequest(params) {
 let i, dataToSend, xhr;
 if (!params.url) {
 console.log('undefined url');
 return;
 }
 if (!params.type) {
 params.type = 'GET';
 }
 if (typeof params.data === 'object' && params.type.toUpperCase() === 'GET') {
 dataToSend = [];
 for (i in params.data) {
 dataToSend.push(i + '=' + params.data[i]);
 }
 params.url += (~params.url.indexOf('?') ? '&' : '?') + dataToSend.join('&');
 }
 xhr = new XMLHttpRequest();
 if (xhr.withCredentials === undefined) { // IE < 10
 xhr = new XDomainRequest();
 }
 xhr.open(params.type, params.url);
 if (params.success) {
 //xhr.responseType = 'json'; //doesn't work in Safari
 xhr.onreadystatechange = function () {
 xhr.readyState === 4 && xhr.status === 200 && typeof xhr.response === 'string' &&
 params.success(JSON.parse(xhr.response));
 };
 }
 xhr.send();
 }
 let allElements = document.querySelectorAll('[data-photo-source]');
 let url;
 for (let i = 0, n = allElements.length; i < n; i++) {
 let obj = allElements[i];
 if (url = obj.getAttribute('data-photo-source')) {
 ajaxRequest({
 url: url.replace(/(png|gif|jpg)$/, 'json'),
 success: function (r) {
 let span = document.createElement('a');
 span.href = r.user.profile_url || r.source_url;
 span.target = '_blank';
 span.className = 'photo-source';
 span.innerHTML = 'Photo: ' + r.source_name;
 obj.appendChild(span);
 obj.classList.remove('hide');
 }
 });
 }
 }
 })();
 </script>
 </body>
</html>
