<form action="https://api.elasticemail.com/contact/add?version=2" data-id="DtVqimwyQn" method="post" id="ewf_subscriptionForm_DtVqimwyQn" class="Inline Minimal ElegantBiscay Placeholders">
  <div class="headers" style="">
    <h4 id="ewf_formheader">Daily quiz newsletter 
    </h4>
    <p id="ewf_formdesc">Please add your email to receive curated quizzes daily. 
    </p>
  </div>
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs">
      <div>
        <label for="email">Email
        </label>
        <input maxlength="60" class="form-control" name="email" size="20" type="email" undefined="" placeholder="Email">
      </div>
    </div>
    <div class="checkboxes">
    </div>
    <div class="webform-lists" style="display: none;">
      <div style="display:block;">
        <input type="checkbox" name="publiclistid" id="MvhdnOgD" value="b304bcfe-1626-4dd2-be86-b9f8207d272d" checked="checked">
        <label class="publiclistlabel" for="MvhdnOgD">Daily quiz
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset class="webform-options" style="border:none;">
    <input type="submit" name="submit" value="Subscribe" id="eesubmit">
    <input type="hidden" name="publicaccountid" value="56a327e1-c11e-4509-9b56-9953671e4b0a">
    <input type="hidden" name="publicformid" value="9289f16b-097e-46dc-8972-cee1a4e8865d">
    <input type="hidden" name="returnUrl" value="https://allwomenstalk.carrd.co/#confirm">
    <input type="hidden" name="activationReturnUrl" value="https://allwomenstalk.carrd.co/#success">
    <input type="hidden" name="alreadyactiveurl" value="">
    <input type="hidden" name="activationTemplate" value="">
    <input type="hidden" name="source" value="WebForm">
    <input type="hidden" id="ewf_captcha" name="captcha" value="false">
    <input type="hidden" name="notifyEmail" value="">
    <button id="ewf_dismissForm" style="display:none; position: absolute; top: 0; right: 0; float: right">X
    </button>
  </fieldset>
  <div id="ewf_style" class="Inline Minimal ElegantBiscay Placeholders">
    <style id="minimal">@media screen and (min-width:768px) {
      #ewf_subscriptionForm_DtVqimwyQn.Sticky {
        padding: 0 !important;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky .headers, #ewf_subscriptionForm_DtVqimwyQn.Sticky fieldset {
        display: inline-block;
        min-width: 20%;
        padding-left: 20px;
        padding-right: 20px;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky fieldset {
        padding-left: 20px;
        padding-right: 20px;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky .headers {
        text-align: right;
        min-width: 40%}
      #ewf_subscriptionForm_DtVqimwyQn.Sticky .webform-options {
        text-align: center;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky #ewf_formdesc {
        display: none;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky label {
        position: absolute;
        top: 5px;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky input {
        line-height: 37px !important;
        padding: 0 20px !important;
        font-size: 14px !important;
        margin-bottom: 0 !important;
        color: #fff;
      }
      #ewf_dismissForm {
        top: 5px !important;
        right: 5px !important;
      }
    }
      #ewf_subscriptionForm_DtVqimwyQn {
        font-family: 'Open Sans Condensed', arial, sans;
        background: var(--formbg2);
        padding-bottom: 20px;
        box-sizing: border-box;
      }
      #ewf_subscriptionForm_DtVqimwyQn.Sticky, #ewf_subscriptionForm_DtVqimwyQn.Modal {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
      }
      #ewf_subscriptionForm_DtVqimwyQn input:focus {
        outline-style:none;
        box-shadow:none;
      }
      #ewf_subscriptionForm_DtVqimwyQn #ewf_formdesc {
        padding: 0 30px;
        color: #fff;
      }
      #ewf_subscriptionForm_DtVqimwyQn .eformmodal {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      }
      #ewf_subscriptionForm_DtVqimwyQn h4 {
        margin: 0;
        padding: 24px 30px;
        background: var(--formbg1);
        /* formbg*/color: #ffffff;
        text-transform: uppercase;
      }
      #ewf_subscriptionForm_DtVqimwyQn fieldset, #ewf_subscriptionForm_DtVqimwyQn #ewf_formheading {
        padding: 0 30px;
      }
      #ewf_subscriptionForm_DtVqimwyQn label {
        color: var(--text);
      }
      #ewf_subscriptionForm_DtVqimwyQn .inputs input {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid var(--text);
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
        transition: .3s all;
        border-radius: 0;
        color: #fff;
      }
      #ewf_subscriptionForm_DtVqimwyQn .inputs input:hover {
        border-bottom: 1px solid var(--formbg1);
      }
      #ewf_subscriptionForm_DtVqimwyQn input[type="checkbox"] {
        float: left;
        display: inline-block;
        width: auto;
      }
      #ewf_subscriptionForm_DtVqimwyQn input::placeholder {
        color: var(--input);
      }
      #ewf_subscriptionForm_DtVqimwyQn input[type="submit"] {
        background-color: var(--buttonbg);
        border: 1px solid var(--buttonbg);
        display: inline-block;
        width: auto;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
      }
      #ewf_dismissForm {
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
        background: var(--buttonbg);
        font-weight: 800;
        border: 0 !important;
      }
      #ewf_subscriptionForm_DtVqimwyQn .webform-lists li {
        display:block;
        overflow: auto;
        padding: 5px 0;
      }
      #ewf_subscriptionForm_DtVqimwyQn .webform-lists li * {
        margin: 0 0 0 0 !important;
        padding-right: 10px;
      }
      #ewf_subscriptionForm_DtVqimwyQn .webform-lists input {
        display: inline-block;
        height: 1em;
        width: 1em;
        float: left;
        -webkit-appearance: checkbox !important;
      }
      #ewf_subscriptionForm_DtVqimwyQn .webform-lists label {
        height: auto;
        color: var(--text);
      }
      #ewf_subscriptionForm_DtVqimwyQn .lists input:before {
        content: "" !important;
        display: none;
      }
    </style>
    <style id="elegant-biscay">#ewf_subscriptionForm_DtVqimwyQn {
      --formbg1: #363657;
      /* formbg*/--formbg2: #363657;
      /* formbg*/--text: #fff;
      /* labels & text */--input: #fff;
      /* inputs */--inputbg: #fff;
      /* inputbg */--buttonbg: #FF8CA8;
      /* submitbg and dismissbg */}
    </style>
    <style id="Placeholders">#ewf_subscriptionForm_DtVqimwyQn .inputs label {
      display: none !important;
    }
    </style>
  </div>
</form>

